.introductionContainer {
    background-image: var(--gradient);
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.welcomeMessage {
    height: fit-content;
    width: 720px;
    position: relative;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.word {
    background-image: var(--gradient);
    background-clip: text;
    color: transparent;
    height: 50px;
}

.introBtn {
    background-color: var(--background);
    color: #284385 !important;
    border: 15px !important;
}

.introBtn:hover {
    color: white !important;
    background-color: transparent;
    transform: scale(1.1);
}